# PostgreSQL
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB

# MinIO
MINIO_ROOT_USER=MINIO_ROOT_USER
MINIO_ROOT_PASSWORD=MINIO_ROOT_PASSWORD
MINIO_DEFAULT_BUCKET=MINIO_DEFAULT_BUCKET
MINIO_ENDPOINT=MINIO_ENDPOINT
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY

# Spotify API
SPOTIPY_CLIENT_ID=SPOTIPY_CLIENT_ID
SPOTIPY_CLIENT_SECRET=SPOTIPY_CLIENT_SECRET
SPOTIPY_REDIRECT_URI=SPOTIPY_REDIRECT_URI

# Airflow
AIRFLOW_UID=5000
