# Spotify API
# https://developer.spotify.com/documentation/web-api/tutorials/getting-started

SPOTIPY_CLIENT_ID=ask_leo_or_create_your_own
SPOTIPY_CLIENT_SECRET=ask_leo_or_create_your_own
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8080/callback

# PostgreSQL
DATABASE_URL=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# MinIO
MINIO_ROOT_USER=""
MINIO_ROOT_PASSWORD=""
MINIO_DEFAULT_BUCKETS=spotify-data,raw-data,processed-data
MINIO_ENDPOINT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""

# Logging
LOG_LEVEL=""

# Application
APP_ENV=""
APP_PORT=""