project_root_path = "/Users/elif/Documents/xccelerated/goats-elt-project" # change this to your projects root path, so terraform does not complain about paths
network_name = "elt_net"
minio_root_user = "admin"
minio_root_password = ""
minio_default_bucket = "spotify-data"
minio_endpoint = "minio:9000"
db_host = "postgres"
db_port = 5432
db_user = "admin"
db_pass = ""
db_name = "dbt"
dbt_dataset = "dbt"
dbt_dev_name = "airflow"
spotify_client_id = ""
spotify_client_secret = ""
spotify_refresh_token = ""
spotify_redirect_uri = "http://127.0.0.1:8080/callback"
spotify_scopes = "user-read-recently-played user-read-currently-playing"
kafka_bootstrap_servers = "broker:29092"
kafka_topic = "spotify-streaming"
poll_interval = "10"
